<html>
  <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
	<div class="container">
		
		<h1>Wordle Solver</h1>
		<p>The next guess is:</p>
		
		<div class="word-container">
			<div class="letter-tile" id="tile1" onclick="changeColor(this)">{{ trial_word[0] }}</div>
			<div class="letter-tile" id="tile2" onclick="changeColor(this)">{{ trial_word[1] }}</div>
			<div class="letter-tile" id="tile3" onclick="changeColor(this)">{{ trial_word[2] }}</div>
			<div class="letter-tile" id="tile4" onclick="changeColor(this)">{{ trial_word[3] }}</div>
			<div class="letter-tile" id="tile5" onclick="changeColor(this)">{{ trial_word[4] }}</div>
		</div>

		<br>
		<p>(Press on each letter repeatedly to input feedback from Wordle before generating next guess)</p>
	  
		<div>
			<form method="get" action="/find_word/no/no">
				<div class="form">
					<input type="submit" class="btn btn-success" value="Get next Wordle guess">
				</div>
			</form>
			
			<form method="post" action="/find_word/yes/no">
				<div class="form">
					<input type="submit" class="btn btn-warning" value="Word not accepted. Generate next guess.">
				</div>
			</form>
			
			<form method="post" action="/home/yes">
				<div class="form">
					<input type="submit" class="btn btn-danger" value="Reset wordle solver">
				</div>
			</form>
	
		<p>{{error_message}}</p>
		<p>The number of possible words remaining is: {{n_words_remaining}}</p>
		<p>The list of remaining possible words is: {{possible_words}}</p>
	
	</div>
	
	<script>
		var tileColors = {
			tile1: "",
			tile2: "",
			tile3: "",
			tile4: "",
			tile5: ""
		};

		function changeColor(tile) {
			var id = tile.id;
			if (tileColors[id] === "") {
				tileColors[id] = "green";
				tile.classList.add("green");
				storeColors();
			} else if (tileColors[id] === "green") {
				tileColors[id] = "orange";
				tile.classList.remove("green");
				tile.classList.add("orange");
				storeColors();
			} else if (tileColors[id] === "orange") {
				tileColors[id] = "lightgrey";
				tile.classList.remove("orange");
				tile.classList.add("lightgrey");
				storeColors();
			} else if (tileColors[id] === "lightgrey") {
				tileColors[id] = "green";
				tile.classList.remove("lightgrey");
				tile.classList.add("green");
				storeColors();
			}
		}
		
		localStorage.setItem("tileColors", JSON.stringify(tileColors));
		
		function storeColors() {
		  $.ajax({
			type: "POST",
			url: "/store_colors",
			data: JSON.stringify(tileColors),
			contentType: "application/json",
			success: function(response) {
			  console.log("Colors stored successfully!");
			}
		  });
		}
		
	</script>
	
</body>
</html>