readme_images/
readme_images/*
instructions_deployment.txt
to_do.txt
codebase/flask_app/misc/performance_screenshots.pptx
codebase/experimentation/
codebase/experimentation/*
codebase/archive/
codebase/archive/*
codebase/venv/etc/
codebase/venv/etc/*
codebase/venv/Include/
codebase/venv/Include/*
codebase/venv/Lib/
codebase/venv/Lib/*
codebase/venv/Scripts/
codebase/venv/Scripts/*
codebase/venv/share/
codebase/venv/share/*
codebase/venv/pyvenv.cfg