readme_images/
readme_images/*
to_do.txt
flask_app/misc/performance_screenshots.pptx
experimentation/
experimentation/*
archive/
archive/*
venv/
venv/*
.ipynb_checkpoints
__pycache__
tutorials/
tutorials/*
flask_app/test_data/*
openai_api_key_real
.env