readme_images/
readme_images/*
instructions_deployment.txt
to_do.txt
codebase/flask_app/misc/performance_screenshots.pptx
codebase/experimentation/
codebase/experimentation/*
codebase/archive/
codebase/archive/*
codebase/myvenv/etc/
codebase/myvenv/etc/*
codebase/myvenv/Include/
codebase/myvenv/Include/*
codebase/myvenv/Lib/
codebase/myvenv/Lib/*
codebase/myvenv/Scripts/
codebase/myvenv/Scripts/*
codebase/myvenv/share/
codebase/myvenv/share/*
codebase/myvenv/pyvenv.cfg