<html>
  <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="/static/css/styles.css">
  </head>
<body>
	<div class="container">
		
		<h1>Wordle Solver</h1>
		<p>The next guess is:</p>
		
		<div class="word-container">
			<div class="letter-tile" id="tile1" onclick="changeColor(this)">{{ trial_word[0] }}</div>
			<div class="letter-tile" id="tile2" onclick="changeColor(this)">{{ trial_word[1] }}</div>
			<div class="letter-tile" id="tile3" onclick="changeColor(this)">{{ trial_word[2] }}</div>
			<div class="letter-tile" id="tile4" onclick="changeColor(this)">{{ trial_word[3] }}</div>
			<div class="letter-tile" id="tile5" onclick="changeColor(this)">{{ trial_word[4] }}</div>
		</div>

		<br>
	  
		<div>
			<form method="get" action="/find_word">
				<div class="form">
					<input type="submit" class="btn btn-success" value="Get next Wordle guess">
				</div>
			</form>
		  
			<form id="removeTrialWord" method="get" action="/find_word">
				<div class="form">
					<input type="submit" class="btn btn-warning" value="Word not accepted. Generate next guess.">
				</div>
			</form>
		  
			<form id="resetWordleSolver" method="get" action="/">
				<div class="form">
					<input type="submit" class="btn btn-danger" value="Reset wordle solver">
				</div>
			</form>
		</div>
	
		<p>{{error_message}}</p>
		<p>The number of possible words remaining is: {{n_words_remaining}}</p>
		<p>The list of remaining possible words is: {{possible_words}}</p>
	
	</div>
	
	<script>
		
		var tileColors = {
			tile1: "",
			tile2: "",
			tile3: "",
			tile4: "",
			tile5: ""
		};

		function changeColor(tile) {
			var id = tile.id;
			if (tileColors[id] === "") {
				tileColors[id] = "green";
				tile.classList.add("green");
				storeColors();
			} else if (tileColors[id] === "green") {
				tileColors[id] = "orange";
				tile.classList.remove("green");
				tile.classList.add("orange");
				storeColors();
			} else if (tileColors[id] === "orange") {
				tileColors[id] = "lightgrey";
				tile.classList.remove("orange");
				tile.classList.add("lightgrey");
				storeColors();
			} else if (tileColors[id] === "lightgrey") {
				tileColors[id] = "green";
				tile.classList.remove("lightgrey");
				tile.classList.add("green");
				storeColors();
			}
		}
		
		localStorage.setItem("tileColors", JSON.stringify(tileColors));
		
		document.getElementById("store-colors-button").addEventListener("click", storeColors);
		
		function storeColors() {
		  $.ajax({
			type: "POST",
			url: "/store_colors",
			data: JSON.stringify(tileColors),
			contentType: "application/json",
			success: function(response) {
			  console.log("Colors stored successfully!");
			}
		  });
		}
		
		
		//***********************************//
		//*** Button 2: Remove trial word ***//
		//***********************************//
		
		//Update flag to ensure we remove trial word
		var form = document.getElementById("removeTrialWord");

		form.addEventListener("submit", function(event) {
			event.preventDefault();
			
			// send the updated variable to the Python backend
			fetch('/remove_trial_word_update', {
				method: 'POST',
				body: JSON.stringify({value: 'Yes'}), // replace 'new_value' with the actual value you want to update
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				if (response.ok) {
					form.submit(); // submit the form after the variable is updated
				}
			});
		});
		
		//***********************************//
		//*** Button 3: Reset wordle solver ***//
		//***********************************//
		
		//Update flag to ensure we reset wordle solver
		var form = document.getElementById("resetWordleSolver");

		form.addEventListener("submit", function(event) {
			event.preventDefault();
			
			// send the updated variable to the Python backend
			fetch('/update_reset_wordle_solver_flag', {
				method: 'POST',
				body: JSON.stringify({value: 'Yes'}), // replace 'new_value' with the actual value you want to update
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				if (response.ok) {
					form.submit(); // submit the form after the variable is updated
				}
			});
		});

		
	</script>
	
</body>
</html>